@import '../../styles/App.scss';
@import '../../styles/partials/breakpoints.scss';

.Page{
    margin: 2rem;
    background-color: $White;
    margin-top: 0;
    position: relative;
    top: -60px;
    @include tablet{
        top: -100px;
    }

    border-radius: 3px;
    box-shadow: 0 2px 5px rgba($color: $Instock-Black, $alpha: .1);
}

.Warehouse{
    .TitleBlock {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        padding: 24px;
        border-bottom: 1px solid #bdc5d5;

        @include desktop{
            padding-left: 40px;
            padding-right: 40px;
        }
    
    
        
        .Search{
            margin-bottom: 1rem;
    
            @include tablet {
                margin-bottom: 0;
            }

            @include desktop {
                width: 274px;
            }
        }
    
        .Button{
            width: 100%;
            @include tablet{
                width: 168px;
            }
            
        }
    
        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            padding-top: 32px;
            border-bottom: 1px solid transparent;
        }
    
        h1{
            padding: 0;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 28px;
            line-height: 36px;
            padding-bottom: 12px;
    
            @include tablet {
                font-size: 32px;
                line-height: 40px;
                padding: 0;
            }
            font-weight: 600;
        }
    }
    
    .TableTitles, .TableRow-Tablet{
        @include desktop{
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}
