html {
  font-family: "TitilliumWeb", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #f7f8f9;
}

.headerSection {
  background-color: #232940;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 200px;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topClump {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topClump .logoImg {
  height: 45px;
  margin: 16px;
}

.directoryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.directoryLink {
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  padding: 8px 16px;
  margin: 0;
  width: 35%;
  font-family: "TitilliumWeb";
  font-weight: 600;
}

.directoryLink:hover {
  background-color: #13182c;
  border-radius: 50px;
}

.details {
  height: 700px;
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
}

.warehouseDetails,
.contactDetails {
  font-family: "TitilliumWeb";
  margin: 0 16px;
}

.warehouseDetails {
  border-bottom: solid 1px #bdc5d5;
}

.whDetailsForm,
.cDForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

label {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

input {
  border: #bdc5d5 1px solid;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  margin-bottom: 16px;
}

hr {
  color: #bdc5d5;
}

.submissionSection {
  background-color: #f7f8f9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.submissionSection button {
  margin: 8px;
  border-radius: 20px;
  font-family: "Titillium Web";
  width: 35%;
}
.submissionSection .saveButton {
  background-color: #2e66e5;
  color: #ffffff;
  border: solid 1px #2e66e5;
}
.submissionSection .cancelButton {
  background-color: #ffffff;
  color: #13182c;
  border: solid 1px #bdc5d5;
}

.instockFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.instockFooter .copyright {
  margin: 16px;
  color: #5c667e;
  font-weight: 400;
  font-size: 11px;
}

@media (min-width: 768px) {
  .headerSection {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }

  .topClump {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 32px;
    font-size: 16px;
    line-height: 28px;
  }
  .topClump .logoImg {
    width: 30%;
    margin: 16px 0;
  }

  .directoryContainer {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 16px 0;
  }
  .directoryContainer .directoryLink {
    width: 40%;
    padding: 8px 16px;
  }

  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .details .warehouseDetails {
    width: 40%;
    margin: 0;
    border-right: solid 1px #bdc5d5;
    border-bottom: none;
    padding: 0 16px;
  }
  .details .contactDetails {
    width: 40%;
    margin: 0;
    padding: 0 16px;
  }
  .details form {
    background-color: #ffffff;
  }
  .details .submissionSection {
    background-color: #f7f8f9;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .details .submissionSection button {
    width: 15%;
  }

  .instockFooter {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (min-width: 1280px) {
  .headerSection {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }

  .topClump {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 63px;
    font-size: 16px;
    line-height: 28px;
  }
  .topClump .logoImg {
    width: 30%;
    margin: 16px 0;
  }

  .directoryContainer {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 16px 0;
  }
  .directoryContainer .directoryLink {
    width: 40%;
    padding: 8px 16px;
  }

  .directoryContainer {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 16px 0;
  }
  .directoryContainer .directoryLink {
    width: 40%;
    padding: 8px 16px;
  }

  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .details .warehouseDetails {
    width: 40%;
    margin: 0;
    border-right: solid 1px #bdc5d5;
    border-bottom: none;
    padding: 0 16px;
  }
  .details .contactDetails {
    width: 40%;
    margin: 0;
    padding: 0 16px;
  }
  .details form {
    background-color: #ffffff;
  }
}
.TableRow-Tablet {
  display: none;
}
@media (min-width: 768px) {
  .TableRow-Tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 4.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 14px;
    line-height: 22px;
    background-color: transparent;
    border-bottom: 1px solid #bdc5d5;
  }
}
.TableRow-Tablet:hover {
  background-color: rgba(189, 197, 213, 0.7);
}
.TableRow-Tablet__stacked {
  display: none;
}
@media (min-width: 768px) {
  .TableRow-Tablet__stacked {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.TableRow-Tablet__button {
  padding: 0.5rem;
}

.TableRow-Mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
=======
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
>>>>>>> sprint-1
  padding: 16px 24px 24px 24px;
  font-size: 14px;
  line-height: 22px;
  background-color: transparent;
  border-bottom: 1px solid #bdc5d5;
}
.TableRow-Mobile > div {
  width: 49%;
  padding-bottom: 1rem;
}
.TableRow-Mobile span {
  font-size: 13px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .TableRow-Mobile {
    display: none;
  }
}
.TableRow-Mobile:hover {
  background-color: rgba(189, 197, 213, 0.7);
}
.TableRow-Mobile__stacked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .TableRow-Mobile__stacked {
    display: none;
  }
}

h4 {
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  color: #5c667e;
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=TableRowInventory.css.map */