@media (min-width: 768px) {
  .headerSection {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }

  .topClump {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 32px;
    font-size: 16px;
    line-height: 28px;
  }
  .topClump .logoImg {
    width: 30%;
    margin: 16px 0;
  }

  .directoryContainer {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 16px 0;
  }
  .directoryContainer .directoryLink {
    width: 100%;
    padding: 8px 16px;
  }

  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .details .warehouseDetails {
    width: 40%;
    margin: 0;
    border-right: solid 1px #bdc5d5;
    border-bottom: none;
    padding: 0 16px;
  }
  .details .contactDetails {
    width: 40%;
    margin: 0;
    padding: 0 16px;
  }
  .details form {
    background-color: #ffffff;
  }
  .details .submissionSection {
    background-color: #f7f8f9;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .details .submissionSection button {
    width: 15%;
  }

  .instockFooter {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (min-width: 1280px) {
  .headerSection {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }

  .topClump {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 63px;
    font-size: 16px;
    line-height: 28px;
  }
  .topClump .logoImg {
    width: 30%;
    margin: 16px 0;
  }

  .directoryContainer {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 16px 0;
  }
  .directoryContainer .directoryLink {
    width: 100%;
    padding: 8px 16px;
  }

  .directoryContainer {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 16px 0;
  }
  .directoryContainer .directoryLink {
    width: 40%;
    padding: 8px 16px;
  }

  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .details .warehouseDetails {
    width: 40%;
    margin: 0;
    border-right: solid 1px #bdc5d5;
    border-bottom: none;
    padding: 0 16px;
  }
  .details .contactDetails {
    width: 40%;
    margin: 0;
    padding: 0 16px;
  }
  .details form {
    background-color: #ffffff;
  }
}/*# sourceMappingURL=breakpoints.css.map */