html {
  font-family: "TitilliumWeb", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #f7f8f9;
}

@media (min-width: 320px) {
  .addNewInventory {
    background-color: #ffffff;
    font-family: "TitilliumWeb", sans-serif;
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    padding: 0 16px;
    height: 850px;
    margin: 2rem auto;
    margin-top: 0;
    position: relative;
    top: -60px;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  }
  .addNewInventory .titleBlock {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bdc5d5;
  }
  .addNewInventory .titleBlock .backArrow {
    height: 30px;
  }
  .addNewInventory .titleBlock .invTitle {
    display: inline-block;
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
  }
  .addNewInventory .formSection {
    display: flex;
    flex-flow: column wrap;
    height: 650px;
  }
  .addNewInventory .formSection label {
    font-size: 20px;
    line-height: 28px;
  }
  .addNewInventory .formSection .inventoryDetailsSection .invDetailsForm {
    display: flex;
    flex-flow: column wrap;
    border-bottom: 1px solid #bdc5d5;
  }
  .addNewInventory .formSection .inventoryDetailsSection .invDetailsForm h3 {
    font-size: 28px;
    line-height: 36px;
    padding: 16px 0;
  }
  .addNewInventory .formSection .inventoryDetailsSection .invDetailsForm .categorySelection {
    border: 1px solid #bdc5d5;
    border-radius: 20px;
    height: 40px;
    padding: 0 1rem;
    align-items: center;
    margin-bottom: 16px;
  }
  .addNewInventory .formSection .inventoryDetailsSection .invDetailsForm .itemDetailstextarea {
    border: 1px solid #bdc5d5;
    border-radius: 20px;
    height: 100px;
    padding: 8px;
    font-family: "TitilliumWeb", sans-serif;
    resize: none;
  }
  .addNewInventory .formSection .inventoryDetailsSection .availabilityForm {
    display: flex;
    flex-flow: column wrap;
  }
  .addNewInventory .formSection .inventoryDetailsSection .availabilityForm h3 {
    font-size: 28px;
    line-height: 36px;
    padding: 16px 0;
  }
  .addNewInventory .formSection .inventoryDetailsSection .availabilityForm .radio {
    padding-right: 16px;
  }
  .addNewInventory .formSection .inventoryDetailsSection .availabilityForm .categorySelection {
    border: 1px solid #bdc5d5;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 16px;
  }
  .addNewInventory .formSection .inventoryDetailsSection .availabilityForm .warehouseSelection {
    border: 1px solid #bdc5d5;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 16px;
  }
  .addNewInventory .formSection .inventoryDetailsSection .availabilityForm .radioButton {
    margin-right: 8px;
  }
  .addNewInventory .formSection .inventoryDetailsSection .availabilityForm .radio {
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
  }
  .addNewInventory .formSection .inventoryDetailsSection .buttonHolder {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addNewInventory .formSection .inventoryDetailsSection .buttonHolder button {
    width: 25%;
    border-radius: 20px;
    margin: 16px;
    font-size: 13px;
  }
  .addNewInventory .formSection .inventoryDetailsSection .cancelButton {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #bdc5d5;
    color: #5c667e;
    height: 40px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 13px;
  }
  .addNewInventory .formSection .inventoryDetailsSection .addItemButton {
    border: 1px solid #2e66e5;
    background-color: #2e66e5;
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .addNewInventory {
    height: 550px;
    display: block;
  }
  .addNewInventory .formSection label {
    font-size: 14px;
    line-height: 22px;
  }
  .addNewInventory .formSection .inventoryDetailsSection {
    display: flex;
    flex-flow: row wrap;
  }
  .addNewInventory .formSection .inventoryDetailsSection .invDetailsForm, .addNewInventory .formSection .inventoryDetailsSection .availabilityForm {
    width: 50%;
    padding: 1rem;
  }
  .addNewInventory .formSection .inventoryDetailsSection .invDetailsForm {
    border-right: 1px solid #bdc5d5;
    border-bottom: none;
  }
}/*# sourceMappingURL=editInventory.css.map */