//Variables, Mixins, etc.
//Font-Face
@font-face {
  font-family: TitilliumWeb-Black;
  src: url("../assets/Font/Titillium_Web/TitilliumWeb-Light.ttf");
}
//Primary Colors
$Instock-Black: #13182c;
$Instock-Indigo: #2e66e5;
$White: #ffffff;
//Secondary Colors
$Slate: #5c667e;
$Cloud: #bdc5d5;
//Background Colors
$Graphite: #232940;
$Light-Grey: #f7f8f9;
//Supporting Colors
$Green: #158463;
$Red: #c94515;
//Mixins:
//Padding:
@mixin mobilePadding {
  margin: 16px;
}
@mixin tabletPaddingSides {
  margin: 24px 32px;
}
@mixin desktopPaddingSides {
  margin: 24px 63px;
}
//Font-Sizes:
//Mobile
@mixin mobileBodySmall {
  font-size: 11px;
  line-height: 16px;
}
@mixin mobileBodyMedium {
  font-size: 13px;
  line-height: 20px;
}
@mixin mobileBodyLarge {
  font-size: 15px;
  line-height: 26px;
}
@mixin mobileBodyTableHeader {
  @include mobileBodySmall();
}
@mixin mobileBodyLabelsEtc {
  @include mobileBodyMedium();
}
@mixin mobileSubheader {
  font-size: 20px;
  line-height: 28px;
}
@mixin mobilePageHeader {
  font-size: 28px;
  line-height: 36px;
}
//Tablet & Desktop
@mixin bodySmall {
  font-size: 12px;
  line-height: 18px;
}
@mixin bodyMedium {
  font-size: 14px;
  line-height: 22px;
}
@mixin bodyLarge {
  font-size: 16px;
  line-height: 28px;
}
@mixin tableHeader {
  @include bodySmall();
}
@mixin labelsEtc {
  font-size: 14px;
  line-height: 22px;
}
@mixin subHeader {
  font-size: 24px;
  line-height: 32px;
}
@mixin pageHeader {
  font-size: 32px;
  line-height: 40px;
}
//Screen-Sizing
$mobile-lower: 320px;
$mobile-higher: 767px;
$tablet-lower: 768px;
$tablet-higher: 1279px;
$desktop-lower: 1280px;

//General Styling
html {
  font-family: TitilliumWeb;
}

//Header Component Styling
.headerSection {
  background-color: $Instock-Black;
  color: $White;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  .logoImg {
    height: 45px;
  }
  .directoryContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include mobilePadding();
    width: 90%;
    height: 50%;
    h3 {
      @include mobileSubheader();
      margin-top: 0;
    }
  }
}
