@font-face {
  font-family: "Titillium Web";
  src: url("../assets/font/TitilliumWeb-Regular.ttf");
}
html {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #f7f8f9;
}

.headerSection {
  background-color: #232940;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 200px;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topClump {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topClump .logoImg {
  height: 45px;
  margin: 16px;
}

.directoryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.directoryLink {
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  padding: 8px 16px;
  margin: 0;
  width: 35%;
  font-family: "Titillium Web";
  font-weight: 600;
}

.directoryLink:hover {
  background-color: #13182c;
  border-radius: 50px;
}

.details {
  height: 700px;
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
}

.warehouseDetails,
.contactDetails {
  font-family: "Titillium Web";
  margin: 0 16px;
}

.warehouseDetails {
  border-bottom: solid 1px #bdc5d5;
}

.whDetailsForm,
.cDForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

label {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

input {
  border: #bdc5d5 1px solid;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  margin-bottom: 16px;
}

hr {
  color: #bdc5d5;
}

.submissionSection {
  background-color: #f7f8f9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.submissionSection button {
  margin: 8px;
  border-radius: 20px;
  font-family: "Titillium Web";
  width: 35%;
}
.submissionSection .saveButton {
  background-color: #2e66e5;
  color: #ffffff;
  border: solid 1px #2e66e5;
}
.submissionSection .cancelButton {
  background-color: #ffffff;
  color: #13182c;
  border: solid 1px #bdc5d5;
}

.delete-warehouse {
  font-family: TitilliumWeb-1eq2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.delete-warehouse__close-button-top {
  margin: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}
.delete-warehouse__heading {
  font-size: 28px;
  line-height: 36px;
  margin: 16px;
}
.delete-warehouse__confirmation-message {
  font-size: 15px;
  line-height: 26px;
  margin: 16px;
}
.delete-warehouse__button-container {
  margin: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.delete-warehouse__cancel-button {
  width: 163px;
  height: 36px;
  border: 1px solid #bdc5d5;
  border-radius: 20px;
  margin-right: 17px;
  cursor: pointer;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}
.delete-warehouse__delete-button {
  width: 163px;
  height: 36px;
  border: 1px solid #bdc5d5;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  background: #c94515;
}/*# sourceMappingURL=DeleteWarehouse.css.map */