@import "./App.scss";

@mixin tablet {
  @media (min-width: $tablet-lower) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $tablet-lower) {
    @content;
  }
}

.delete-warehouse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;

  &-tablet {
    @include tablet() {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(19, 24, 24, 0.7);
    }
  }

  @include tablet() {
    background: white;
    height: 262px;
    width: 672px;
    margin: auto;
    margin-top: 185px;
  }
  font-family: Titillium Web;
  box-sizing: border-box;

  &__top-section {
    height: 50px;
    margin-bottom: 85vh;
    @include tablet() {
      height: 0;
      margin-bottom: 0;
    }
  }
  &__close-button-top {
    @include mobilePadding();
    display: flex;
    justify-content: end;
    align-items: flex-end;
    cursor: pointer;
    &:hover {
      color: $Instock-Black;
    }
    @include tablet() {
      padding-top: 10px;
    }
  }
  &__heading {
    font-family: Titillium Web - Semi;
    @include mobilePageHeader();
    @include mobilePadding();
    @include tablet() {
      @include pageHeader();
      margin-left: 48px;
      margin-right: 48px;
    }
  }
  &__confirmation-message {
    @include mobileBodyLarge();
    @include mobilePadding();
    @include tablet() {
      @include bodyLarge();
      margin-left: 48px;
      margin-right: 48px;
    }
  }
  &__button-container {
    @include mobilePadding();
    display: flex;
    justify-content: space-between;

    @include tablet() {
      justify-content: end;
    }
  }
  &__cancel-button {
    width: 163px;
    height: 36px;
    border: 1px solid $Cloud;
    border-radius: 20px;
    margin-right: 17px;
    cursor: pointer;
    @include mobileBodyMedium();
    text-align: center;
    font-family: Titillium Web - Semi;

    @include tablet() {
      width: 71px;
      height: 38px;
    }
  }
  &__delete-button {
    width: 163px;
    height: 36px;
    border: 1px solid $Cloud;
    border-radius: 20px;
    cursor: pointer;
    @include mobileBodyMedium();
    text-align: center;
    font-family: Titillium Web - Semi;

    background-color: $Red;
    color: white;

    @include tablet() {
      margin-bottom: 0;
      width: 71px;
      height: 38px;
      margin-right: 30px;
    }
  }
}
