@import  "../../styles/app.scss";
@import '../../styles/partials/breakpoints.scss';

.TableTitles{
    display: none;

    @include tablet{
        display: flex;
        justify-content: space-between;
        @include twoRemPadding;
        
        height: 2.5rem;
        background-color: $Light-Grey;
    
        div{
            display: flex;
            align-items: center;
    
            span{
                text-transform: uppercase;
                color: $Slate;
                @include bodySmall;
            }
        }

    }
    
}

