@import "../../styles/app.scss";
@import "../../styles/partials/breakpoints.scss";

.TextInput {
    border: 1px solid $Cloud;
    border-radius: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 0.25rem;
    width: 100%;
    
    
    &:focus {
        border: 1px solid $Instock-Indigo;
        outline: none;
    }
}

.ErrorNotification{
    color: $Red;
    display: flex;
    align-items: center;
    
    img{
        height: 13px;
        padding-right: 0.25rem;
    }

    span{
        font-size: 11px;
        line-height: 16px;

        @include tablet {
            font-size: 12px;
            line-height: 18px;
        }
    }
}

.error {
    border: 1px solid $Red;
}

.hidden{
    visibility: hidden;
}

