html {
  font-family: "TitilliumWeb", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #f7f8f9;
}

.headerSection {
  background-color: #232940;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 200px;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topClump {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topClump .logoImg {
  height: 45px;
  margin: 16px;
}

.directoryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.directoryLink {
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  padding: 8px 16px;
  margin: 0;
  width: 35%;
  font-family: "TitilliumWeb";
  font-weight: 600;
}

.directoryLink:hover {
  background-color: #13182c;
  border-radius: 50px;
}

.details {
  height: 700px;
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
}

.warehouseDetails,
.contactDetails {
  font-family: "TitilliumWeb";
  margin: 0 16px;
}

.warehouseDetails {
  border-bottom: solid 1px #bdc5d5;
}

.whDetailsForm,
.cDForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

label {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

input {
  border: #bdc5d5 1px solid;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  margin-bottom: 16px;
}

hr {
  color: #bdc5d5;
}

.submissionSection {
  background-color: #f7f8f9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.submissionSection button {
  margin: 8px;
  border-radius: 20px;
  font-family: "Titillium Web";
  width: 35%;
}
.submissionSection .saveButton {
  background-color: #2e66e5;
  color: #ffffff;
  border: solid 1px #2e66e5;
}
.submissionSection .cancelButton {
  background-color: #ffffff;
  color: #13182c;
  border: solid 1px #bdc5d5;
}

.instockFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.instockFooter .copyright {
  margin: 16px;
  color: #5c667e;
  font-weight: 400;
  font-size: 11px;
}

.ArrowLink {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2e66e5;
}
.ArrowLink span {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
}
.ArrowLink img {
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.ArrowLink:hover :nth-child(2) {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}/*# sourceMappingURL=ArrowLink.css.map */